*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    --bg-color : #eee;
    --margin : 70px;
}

:root{
    --main-color :#4169E1;
    --text-transform : capitalize;
}


a{
    color: white;
}

h2{
    color: var(--main-color);
    margin: 10px auto;
}

hr{
    width: 100%;
    color: #666;
    size: 12px;
}

.btn-btn{
    border-radius: 25px;
    padding: 10px 20px;
    outline: 0;
    border: none;
}

h1{
    min-width: 100%;
    padding: 5px;
}


/* 
.btn{
    border-radius: 25px;
    padding: 10px 30px;
} */

/* end global section */




/* start landing section */


.landing{
    background-image: url('../img/kids-1093758_1280.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: var(--margin);
}

.landing h2{
    color: #eee;
}

.small-landing{
    background-color: rgba(22, 88, 212, 0.8);
    z-index: 2;
    min-height: 100vh;
    position: relative;
}


.landing .one .row ul li{
    font-size: 14px;
    padding-top: 20px;
}

.landing .navs ul li{
    color: white;
    margin-left: 20px;
    font-size: 14px;
}

.landing .row ul li a{
    margin-left: 5px;
}

.landing .row ul li a,
.landing .row ul li i{
    color: white;
}

.landing .video{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


/* end landing section */







/* start brows section */



.brows{
    margin-top: var(--margin);
}

.brows-box{
    background-color: #ccc;
    padding: 12px;
}

.browse .icon{
    border: 1px solid #eee;
    border-radius: 50%;
}

.browse .icon i{
    background-color: #fff;
    padding: 10px;
    color: 	var(--main-color);
    font-size: 20px;
}

.browse .card{
    background-color: #eee;
}

h5{
    font-size: 16px;
    text-transform: var(--text-transform);
}

.browse .card p{
    font-size: 13px;
    opacity: .5;
}


/* end brows section */



.more a{
    color: var(--main-color);
}


.best{
    margin-top: 120px;
    margin-bottom: var(--margin);
}



.photo{
    background-color: var(--bg-color);
    min-height: 300px;
    max-height: 400px;
    margin-top: calc(var(--margin) + 30px);
    padding-bottom: 30px;
}

.photo h4{
    color: var(--main-color);
}

.photo ul li{
    margin-top: 10px;
}

.photo .img{
    max-width: 100%;
    
    /* min-width: ; */
}

.photo .img img{
    max-width: 100%;
    min-width: 100%;
    margin-top: -50px;
}


@media(max-width : 768px){
    .photo .img{
    max-width: 70%;
    min-height: 70%;
        margin: 20px auto;
    }
    .photo .img img{
        max-width: 100%;
        margin: 20px auto;
    }
    .best{
        margin-top: 120px;
    }
    .photo{
        padding-bottom: 20px;
    }
}

.photo ul li i{
    color: var(--main-color);
}




.best .card{
    transition: all 2s ease-in-out;
}

.best .card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.best .icon i{
    color: var(--main-color);
    font-size: 16px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.best h4{
    color: var(--main-color);
}

.best p{
    font-size: 14px;
    margin-bottom: 30px;
}


.right{
    background-color: var(--bg-color);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.right .card .card-body .iconss i:first-of-type{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 14px;
}

.right .p-global{
    margin-bottom: 35px;
}

.right .card .card-body .iconss i:last-of-type{
    color: #CCCC00;
    font-size: 14px;
    text-transform: lowercase;
}

.right .card .card-body p{
    font-size: 14px;
    color: #999;
    /* margin-bottom: 30px; */
}

.right .card .card-body p:last-of-type{
    font-size: 16px;
    color: #333;
}

.right .card .card-body a{
    color: var(--main-color);
}


.right .card{
    transition: all 1s ease-in-out;
}

.right .card:hover{
    transform: rotate(360deg);
}


.education{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    background-image: url('../img/14.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    min-height: 70vh;
    max-height: 70vh;
    /* background-attachment: fixed; */
}


.education .small-landings{
    background-color: rgba(22, 88, 212, 0.8);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    min-height: 100%;
}


.education .text{
    color: var(--bg-color);
    z-index: 100;
}

.education .text h2{
    color: var(--bg-color);
}

.education .text p{
    max-width: 70%;
    margin: 0 auto;
    padding: 5px 10px;
}

.education .text .bt{
    margin: 20px auto;
}



.about img{
    max-width: 100%;
}

.about{
    position: relative;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.bg{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #6c82c7;
    height: 300px;
    width: 250px;
}


.about h3{
    color: var(--main-color);
}


.about ul li i{
    color: var(--main-color);
}


.about ul li h4{
    color: var(--main-color);
}

.news{
    background-color: var(--bg-color);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.news .element{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #aaa;
}

.news .images{
    background-image: url('../img/istockphoto-1340766096-612x612.jpg');
    background-size: cover;
    min-height: 100%;
    background-position: center;
}

.news .images:last-of-type{
    background-image: url('../img/3.jpg');
}

.news h5{
    color: var(--main-color);
}

.news .p-text{
    font-size: 14px;
    max-width: 50%;
    min-width: 50%;
    margin: 0 auto;
}

.news .empty{
    color: #ccc;
    font-size: 12px;
}

.news a{
    color: var(--main-color);
}

.news .txt{
    background-color: #fff;

}


.news .txt p{
    font-size: 14px;
}



.best h5{
    color: var(--main-color);
}

.best button{
    background-color: #fff;
    padding: 5px 20px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}


.best button.even{
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}

.slider #quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
.slider #quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
.slider #quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
.slider #quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
.slider #quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


.slider{
    background-color: var(--bg-color);
}



.choose{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.choose .choose-btn{
    color: #fff;
}

.choose button:hover{
    color: #fff;
}


.choose .img{
    max-width: 100%;
}

.choose .img img{
    max-width: 100%;
}































footer{
    background-color: var(--main-color);
    color: #fff;
}


footer ul li a{
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 50%;
}


footer .projects li{
    margin-top: 7px;
}



.hr{
    display: none;
}







@media(max-width : 467px){
    .education .text p,
    .news .p-text,
    .p-global
    {
        max-width: 80%;
        margin: 0 auto;
        padding: 5px 5px;
    }
    .right .card{
        margin-bottom: 20px;
    }
    .right .card p{
        padding: 5px;
    }
    .hr{
        display: block;
    }
    h1{
        font-size: 32px;
    }
}