*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    --bg-color : #eee;
}

:root{
    --main-color :#4169E1;
    --text-transform : capitalize;
}


a{
    color: white;
}

.landing{
    background-image: url('../img/kids-1093758_1280.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.landing h2{
    color: #eee;
}

.small-landing{
    background-color: rgba(22, 88, 212, 0.8);
    z-index: 2;
    min-height: 100vh;
}

.landing .row ul{
    display: flex;
}

.landing .one .row ul li{
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 14px;
}

.landing .navs .row ul li{
    color: white;
    margin-left: 20px;
    font-size: 14px;
}

.landing .row ul li a{
    margin-left: 5px;
}

hr{
    width: 100%;
    color: #666;
    size: 12px;
}

nav{
    z-index: 100;
}

.dropdown-menu{
    z-index: 100;
}

.pd nav{
    margin-top: 0;
    padding-top: 0;
}

.btn{
    border-radius: 15px;
}

h2{
    color: var(--main-color);
}


.brows-box{
    background-color: #ccc;
    padding: 12px;
}

.browse .icon{
    border: 1px solid #eee;
    border-radius: 50%;
}

.browse .icon i{
    background-color: #fff;
    padding: 10px;
    color: 	var(--main-color);
    font-size: 20px;
}

.browse .card{
    background-color: #eee;
}

h5{
    font-size: 16px;
    text-transform: var(--text-transform);
}

.browse .card p{
    font-size: 13px;
    opacity: .5;
}

.burger span{
    /* color: #eee; */
    color: #333;
    margin-top: 2px;
}

.more a{
    color: var(--main-color);
}


.photo{
    background-color: var(--bg-color);
    min-height: 300px;
    max-height: 400px;
    margin-top: 70px;
}

.photo h4{
    color: var(--main-color);
}

.photo .img{
    max-width: 100%;
}

.photo .img img{
    max-width: 100%;
    min-height: 100%;
    margin-top: -50px;
}


.photo ul li i{
    color: var(--main-color);
}

/* .best .icon{
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 30%;
} */

.best .icon i{
    color: var(--main-color);
    font-size: 16px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.best h4{
    color: var(--main-color);
}

.best p{
    font-size: 14px;
}








